# Ignore all files in Lect folder except pdf files
LECTION/*
!LECTION/*.pdf

.idea

Coding/*

design/*

Maintenance/*

Operation/*

QA&docs/*

reliase/*

requierements/*

testing/*

# Ignore all other files and folders
