Arhiv/*

#не включать файлы с символа подчерникивания (собственные)_
!_config.yml  # Исключение для файла _config.yml

# Ignore all files in Lect folder except pdf files
LECTION/*
!LECTION/*.pdf

Labs/*
!Labs/*.md
!Resource

# Ignore all other files and folders
.idea
PROJECT

